cloudpickle==3.1.2
joblib==1.6.0
lightgbm==4.7.0
narwhals==2.26.0
numpy==2.4.6
pandas==3.0.6
psutil==7.2.2
pyarrow==25.0.1
python-dateutil==2.9.0.post0
RapidFuzz==3.14.6
scikit-learn==1.9.1
scipy==1.17.1
six==1.17.0
threadpoolctl==3.7.0
tzdata==2026.4
